@charset "UTF-8";
html {
	background-color: #f5f5f5;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

/* font */
h1,h2,h3,h4,h5,h6 {
	font-family: monospace,serif;
	font-weight: bold;
}

/* input textarea */
input,
textarea {
	outline: none;
	border: 1px solid #929292;
	border-radius: 3px;
	font-family: sans-serif;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 4px #6d6d6d;
}

/* anchor */
a {
	outline: none;
	text-decoration: none;
}

a:link, 
a:visited {
	color: #000;
}

a[href]:hover {
	cursor: pointer;
	text-shadow: 1px 1px 2px #6d6d6d;
}

a[href]:active {
	text-shadow: 1px 1px 2px #688c5e;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.wentao-blog-container {
	padding: 10px 0;
}

.paper {
	width: 600px;
	margin: 0 auto;
	padding: 40px 20px 0; 
	background-color: #fff;
	box-shadow: 2px 2px 8px #aaa;
}

.wentao-blog-header {
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.blog-name {
	font-weight: bold;
	font-size: 26px;
}

.header-navi {
	float: right;
	font-size: 14px;
}

.header-navi li {
	float: left;
	margin-left: 10px;
}

ul.abstract-list {
	padding-top: 20px;
}

li.abstract-item {
	margin-bottom: 20px;
}

.info {
	float: left;
	width: 70px;
	padding-left: 5px;
}

.pub-time {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	width: 50px;
	padding: 3px 10px 2px 0;
	text-align: center;
	white-space: nowrap;
	border-right: 1px solid;
}

.pub-time .year:after {
	content:".";
}

.pub-time .day {
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.abstract {
	float: left;
	width: 514px;
}

.abstract-title {
	font-size: 18px;
	letter-spacing: 3px;
}

.abstract-content {
	padding-top: 5px;
	font-size: 14px;
/*	line-height: 1.3em;*/
	text-indent: 2em;
	text-align: justify;
	letter-spacing: 1px;
}

.wentao-blog-footer {
	border-top: 1px solid;
}

.copyright {
	display: block;
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
}

/* comment */
.comment {
	margin:0 auto 10px;
	width: 510px;
}

.comment-content {
	border: solid gray;
	border-width: 0 2px;
	float: left;
	width: 440px;
	padding: 0 5px;
	line-height: 1.3em;
	font-size: 13px;
	text-indent: 2em;
	text-align: justify;
	letter-spacing: 1px;
}

.commenter-avatar {
	width: 36px;
	height: 36px;
	margin: 0 10px 5px 0;
	border-left: 2px solid;
	background-color: #ddd;
	overflow: hidden;
	float: left;
}

.comment-header {
	font-family: monospace;
	margin-bottom: 6px;	
}

.commenter-name {
	font-size: 12px;
}

.comment-time:before {
	content: "post@ ";
}

.comment-time {
	float: right;
	margin-right: 15px;
	font-size: 11px;
	color: #888;
}

.comment-number {
	font-family: monospace;
	text-align: center;
	color: #888;
	font-weight: normal;
	margin-bottom: 5px;
}

.comment-number:before {
	content: "-";
}

.comment-number:after {
	content: "条留言-";
}

.commenter-avatar img {
	width: 36px;
}

.comment p {
	float: left;
	width: 440px;
	padding: 0 5px;
	line-height: 1.3em;
	font-size: 13px;
	text-indent: 2em;
	text-align: justify;
	letter-spacing: 1px;
}

/* form */
.comment-form-container {
	margin: 30px 0 10px;
}

.comment-title {
	text-align: center;
	color: #888;
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 5px;
}

.comment-form {
	position: relative;
	width: 440px;
	padding: 5px;
	border: 1px dashed gray;
	border-radius: 5px;
	margin:0 auto;
}

.veri-code {
	position: absolute;
	right: 10px;
	top: 6px;
	border: 1px solid #888;
	border-radius: 5px;
}

.comment-form input, 
.comment-form textarea {		
	margin-bottom: 5px;
}

.comment-form input {
	width: 270px;
}

.comment-form textarea {		
	vertical-align: top;
	max-width: 397px;
	min-width: 397px;
	min-height: 100px;
}

.comment-form label {
	color: #fff;
	font-size: 15px;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 3px;
}

.comment-form input[type="submit"] {
	padding: 2px;
	width: auto;
	margin: 0;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background-color: gray;
}

.submit-container {
	text-align: right;
}

.paginator {
	text-align: center;
}

.paginator .disabled {
	visibility: hidden;
}

.paginator a {
	font-size: 12px;
}

.paginator a[href]:hover {
	background-color: #000;
	color: #fff;
}

.paginator .cur-page {
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	margin: 0 10px;
}

.full-article {
	margin: 25px auto 30px;
	width: 550px;
	text-align: justify;
	letter-spacing: 2px;
	font-size: 15px;
}

.full-article li {
	text-indent: 2em;
	list-style-type: disc;
	list-style-position: inside;
}

.full-article ol,
.full-article ul {
	margin: 8px 0;
}

.full-article a {
	text-decoration: underline;	
}

.article-container,
.page-article-container {
	margin: 40px 0 80px;	
}

.article-header .creation-time {
	display: block;
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
	font-family: monospace;
	color: #888;
}

.article-header h2.title {
	text-align: center;
	font-size: 20px;
}

.full-article h3 {
	margin-bottom: 5px;
}

.full-article p {
	text-indent: 2em;
	margin-bottom: 5px;
}

.errorpage-info-container {	
	width: 500px;
	margin: 40px auto 30px;
}

.error-title {
	margin-bottom: 10px;
}

.error-info {
	color: #fff;
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #888;
	border-radius: 5px;
}

.error-info a {
	text-decoration: underline;
	color: #fff;
	margin-right: 10px;
}

.error-msg {
	margin-bottom: 10px;
}
