{% extends "blog/base.html" %}
{% block page_title %}文韬的BLOG{% endblock %}
{% block content %}
	
	{% block main_content %}
	<section class="article-container">
		<header class="article-header">
			<h2 class="title"> {{	article.title }} </h2>
			<time class="creation-time">{{article.creation_time|date:"Y-m-d"}}</time>
		</header>
		<article class="full-article">
			{% load markup %}
			{{ article.content|safe|markdown }}
		</article>
	</section>
	{% endblock %}

	{% if article.enable_comments %}
	<section class="comment-container">
		<h2 class="comment-number">{{comment_list|length}}</h2>
		<ul class="comment-list">
			{% for comment in comment_list %}
			<li>
				<article class="comment clearfix">
					<header class="comment-header">
						<figure class="commenter-avatar">
							{% load gravatar %}
							<img src="{{comment.visitor_email|gravatar:"40"}}"/>
						</figure>
						<a class="commenter-name" target="_blank" href="{{comment.visitor_site}}">{{comment.visitor_name}}</a>
						<time class="comment-time"/>{{comment.creation_time|date:"Y-m-d"}}</time>
					</header>
					<div class="comment-content">
						{{comment.content}}
					</div>
				</article>
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="comment-form-container">
		<h2 class="comment-title">留言板</h2>
		<form class="comment-form" method="POST" action="/blog/article/comment" >
			{% csrf_token %}
			<input type="hidden" name="artical_id" value="{{article.id}}"/>
			<input type="hidden" name="page_url" value="{{page_url}}"/>
			<p>
				<label for="">昵称</label>
				<input type="text" id="nickname" name="name" placeholder="必填"/>
			</p>
			<p>
				<label for="email">邮箱</label>
				<input type="email" id="email" name="email" placeholder="必填。放心不会泄露"/>
			</p>
			<p>
				<label for="">网站</label>
				<input type="url" id="site" name="site" placeholder="你的个人网站"/>
			</p>
			<p>
				<label>内容</label>
				<textarea id="content" name="content" placeholder="必填。说点什么"></textarea>
			</p>
			<p>
				<label>验证码</label>
				<input type="text" name="veri_code" placeholder="必填。填写右上角图片里的计算结果"/>
				<img src="/blog/captcha/" class="veri-code" title="这是验证码"/>
			</p>
			<p class="submit-container">
				<input type="submit" value="留言"/>
			<p>
		</form>
	</section>
	{% endif %}
{% endblock %}
