<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title> {% block page_title %}{% endblock %} </title>
		<link rel="stylesheet" href="/static/core/css/reset.css"/>
		<link rel="stylesheet" href="/static/blog/css/blog.css"/>
		<link href="/static/blog/img/tea.ico" rel="shortcut icon">
		<script src="/static/syntaxhighlighter/js/shCore.js"></script>
		<script src="/static/syntaxhighlighter/js/shBrushJScript.js"></script>
		<link href="/static/syntaxhighlighter/css/shCore.css" rel="stylesheet" type="text/css" />
		<link href="/static/syntaxhighlighter/css/shThemeDefault.css" rel="stylesheet" type="text/css" />
	</head>

	<body class="wentao-blog-container">
		<div id="wrapper" class="paper">
			<header class="wentao-blog-header clearfix">
				<h1 class="blog-name">
					<a href="/">文韬的BLOG</a>
				</h1>
				<nav class="header-navi">
					<ul>
						<li>
							<a href="/blog/page/friendlink/">友链</a>
						</li>
						<li>
							<a href="/blog/page/about/">关于</a>
						</li>
					</ul>
				</nav>
			</header>		
			<section class="main">
			{% block content %} 
			{% endblock %}
			</section>
			<footer class="wentao-blog-footer">
				<span class="copyright">copyright © 2011-2012 文韬的BLOG <a href="/feeds/">RSS</a></span>
				
			</footer>
		</div>
		<script>
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-28177213-1']);
			  _gaq.push(['_trackPageview']);
			  (function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			  SyntaxHighlighter.defaults['toolbar'] = false;
			  SyntaxHighlighter.all();
		</script>
	</body>
</html>
